body {	
	width: 980px;
	margin: 0 auto;
	background: #7CB7FF;
}
@font-face {
	font-family: RobotoCondensed-Regular;
	src: url(../fonts/RobotoCondensed-Regular.ttf);
}
@font-face {
	font-family: RobotoCondensed-Bold;
	src: url(../fonts/RobotoCondensed-Bold.ttf);
}
@font-face {
	font-family: RobotoCondensed-Light;
	src: url(../fonts/RobotoCondensed-Light.ttf);
}
header {	
	background: url(../img/logo.jpg);
	height: 61px;
}
nav {
	font-family: RobotoCondensed-Regular, sans-serif;
	letter-spacing: 0.7px; /*интервал между символами, минусовое значение - ужимает*/	
	font-size: 11px;
	margin-left: 382px;
	padding: 24px;
	position: absolute;
}
a {
	padding-right: 28px;
	text-decoration: none;
	white-space: pre-wrap;	/*пробел между словами как в тексте*/
	color: #000;
}
section {
	width: 980px;
	display: flex;
	flex-wrap: wrap;
	font-family: RobotoCondensed-Bold, sans-serif;
}
.bluecard {
	background: url(../img/child.jpg);
	width: 490px;
	height: 394px;		
}
.lilaccard {
	background: url(../img/base.jpg);
	width: 490px;
	height: 394px;	
}
.seacard {	
	background: url(../img/fulldive.jpg);
	width: 490px;
	height: 196px;
}
.lightcard {
	background: url(../img/akva.jpg);
	width: 490px;
	height: 196px;
}
.left1 {
	position: relative;
	padding: 45px 0 0 66px;	
	width: 170px;
	color: white;	
}
.left2 {
	position: relative;
	padding: 45px 0 0 51px;	
	width: 200px;
	color: white;	
}
.left3 {
	position: relative;
	padding: 24px 0 0 70px;	
	width: 270px;
	color: white;		
}
.left4 {
	position: relative;
	padding: 24px 0 0 50px;	
	width: 180px;
	color: white;		
}
.card {	
	padding: 4px 10px;
	font-size: 14px;
	border-radius: 5px;		
	height: 16px;
	white-space: pre-wrap;	
	letter-spacing: 0.8px;
	margin-left: -5px;
}
.blue {
	background: #048BFE;
	width: 96px;
}
.lilac {
	background: #D82AAF;
	width: 115px;
	margin-left: 0;
}
.sea {
	background: #028482;
	width: 113px;	
}
.light {
	background: white;
	color: #45494C;
	width: 113px;
}
.toptext {
	font-size: 41px;	
	padding-top: 16px;	
}
.toptext1 {
	font-size: 31px;	
	padding-top: 12px;		 
}
.toptext2 {
	font-size: 31px;	
	padding-top: 12px;	
	color: #45494C;
}
.text {
	font-size: 14px;
	padding-top: 22px;
	font-family: RobotoCondensed-Light;
}
.text1, .text2 {
	padding-top: 12px;
	width: 190px;
}
.text2 {
	color: #45494C;
}
.buy {
	position: relative;
	left: 338px;
	top: -218px;
	width: 92px;    	
	background: linear-gradient(#26C3E4, #188FC7);
	padding: 11px 22px;
	font-size: 14px;
	border-radius: 5px;	
	box-sizing: border-box;	
}
.buy:after {
	content: "";
	position: absolute;
	display: block;
	background: linear-gradient(135deg, #26C3E4, #188FC7);
	width: 29px;
	height: 29px;
	transform: rotate(45deg);
	top: 4px;
	left: 74px;
	border-radius: 6px;
}
.buy a  {
	color: white;
}
.buy3, .buy4 {
	top: -130px;
}
.buy2, .buy4 {
	left: 333px;
}
.price {
    position: relative;
	left: 357px;
	top: 38px;
	width: 72px;
	border-radius: 5px;
	background: #F6C506;
	padding: 2px 6px;
	font-size: 20px;
	font-family: RobotoCondensed-Bold, sans-serif;	
}
.price3, .price4 {
	top: -40px;
}